<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docker Deployer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-header">
            <a class="navbar-brand" href="#">Maxwell Docker Deployer Dashboard</a>
      </div> 
  </nav>

    <div class="container">
    <div class="jumbotron">
      <h1 style="text-align: center">Get Ready to Deploy!</h1>
      <br>
      <br>
        <form style="text-align: center" id="deploy-form" class="form-inline">
          <div class="input-group col-md-4">
            <input type="text" class="form-control" name="subdomain" placeholder="choose subdomain" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">.chaxster.com</span>
          </div>
          <label>select a repo</label>
            <select class="form-control" name="branch">
              <option value="colored_pages">Colors</option>
              <option value="titan1">Titan</option>
            </select>
            <label>&amp select a branch</label>
              <select class="form-control" name="branch">
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="yellow">Yellow</option>
              </select>
          <br>
          <br>
          <button class="btn btn-lg btn-primary">Deploy!</button>
        </form>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="javascript" src="/static/js/index.js"></script>
    <script>
      $( document ).ready(function() {
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        $("#deploy-form").on("submit",function(e) {
          e.preventDefault();
          var url = "/api";
          var form = $("#deploy-form").serializeObject();
            form.repo = 'github.com/artburkart/colored_pages';
          console.log(form);
          $.ajax({
            url: url, 
            type: 'post',
            data: JSON.stringify(form),
            contentType: "application/json",
            datatype : "json",
            success: function(data) {
              alert("You've Deployed!");
            }
         });
        });
      }); 
    </script>
  </body>
</html>